.body-content-area {
    background-color: #1a1a1a;

    width: 100%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.body-content-box {
    background-color: #1a1a1a;

    border: transparent;
    border-radius: 20px;
    outline: white;
    outline-width: 1px;
    outline-style: double;

    width: 99%;
    height: 98%;
}
.body-content-box-header {
    background-color: #1a1a1a;
    width: 100%;
    height: 8%;
    margin: auto;

    font-size: 25pt;
    color: white;
    padding-left: 16px;

    display: flex;
    align-items: center;
    justify-content: left;
}
.body-content-box-body {
    background-color: #1a1a1a;
    width: 100%;
    height: 92%;
    margin: auto;

    font-size: 12pt;
    color: white;

    display: flex;
    align-items:flex-start;
    justify-content: center;
}


span {
    margin-left: 16px;
}