.pools-body-area {
    width: 100%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.pools-body-box {
    background-color: #1a1a1a;
    
    border: transparent;
    border-radius: 20px;
    outline: white;
    outline-width: 1px;
    outline-style: double;

    width: 99%;
    height: 98%;
}
.pools-box-header {
    color: white;

    width: 100%;
    height: 10%;
    max-height: 10%;

    display: flex;
    padding-left: 2%;
    padding-right: 2%;
}

.pools-box-body-wrapper {
    width: 100%;
    max-width: 100%;
    height: 82%;
    max-height: 82%;

    display: flex;
    justify-content: center;
}

.pools-box-body {
    max-width: 100%;
    height: 100%;
    max-height: 100%;

    font-size: 12pt;
    color: white;

    border-radius: 20px;

    display: grid;
    justify-items: center;

    padding: 2%;
    width: 100%;
    row-gap: 5%;
    column-gap: 2%;

    grid-template-columns: repeat(5, 1fr);
    overflow-y: scroll;
}
.pools-box-header-title {
    width: 50%;
    height: 100%;
    font-size: 25pt;


    display: flex;
    align-items: flex-end;
    justify-items: flex-start;
}

.pools-box-header-buttons {
    width: 50%;
    height: 100%;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}