.body {
    /* Make sure the inner table is always as wide as needed */
    width: 100%;
    height: 100%;
}

/* This will make the table scrollable when it gets too small */
.table-wrap {
    display: block;
    width: 100%;
    max-height: 90%;
    min-height: 90%;

    overflow-y: scroll;
    margin-top: 1%;
}

.table {
    /* Make sure the inner table is always as wide as needed */
    width: 100%;
}

.table-header {
    width: 100%;
    text-align: center;

    font-size: 15pt;
}

.table-body {
    width: 100%;
    text-align: center;
    justify-content: center;
}



.table-row {
    height: 40px;
}
.table-row a {
    text-decoration: none;
    color: #f5f5f5;
    width: 100%;
}
.table-row:hover {
    background-color: #f5f5f5;
    color: #1a1a1a;
    font-weight: bold;
    transition: 0.5s;
}


.table-footer {
    width: 100%;  
    height: 6%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.load-more-button {
    background-color: #1a1a1a;

    border: transparent;
    border-radius: 20px;
    outline: white;
    outline-width: 1px;
    outline-style: double;

    color: white;

    width: 98%;
    height: 98%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.load-more-button a {
    text-decoration: none;
    color: #f5f5f5;
    width: 100%;
}
.load-more-button:hover {
    background-color: #f5f5f5;
    color: #1a1a1a;
    font-weight: bold;
    transition: 0.5s;
}
