.reusable-button-area {
    width: 50px;
    height: 50px;

    display: flex;
    align-content: center;
    justify-content: center;
}

.reusable-button {
    width: 40px;
    height: 40px;

    margin: 5px;

    background-color: #1a1a1a;

    border: transparent;
    border-radius: 40px;
    outline: white;
    outline-width: 1px;
    outline-style: double;

    color: white;
    font-size: 40px;

    display: flex;
    align-content: center;
    justify-content: center;
}
.reusable-button:hover {
    background-color: white;
    color: #1a1a1a;
    cursor: pointer;
}