.token-io-box {
    height: 50px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 5pt;
}

.token-io-box-icon-area {
    height: 100%;
    width: 20%;

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.token-io-box-icon {
    height: 90%;
    max-width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.token-io-box-name-area { 
    width: 20%;

    display: block;

    font-size: 15pt;
}

.token-io-box-name {
    height: 50%;
    width: 100%;
    
    font-size: 15pt;
    text-align: center;
    
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.token-io-box-max-button-area {
    height: 50%;
    width: 100%;

    font-size: 10pt;
    text-align: center;
    
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.token-io-box-max-button-area:hover {
    font-weight: bold;
    cursor: pointer;
}

.token-io-box-input-output-area {
    height: 100%;
    width: 60%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.token-io-box-input-output-field {
    width: 100%;
    max-width: 100%;
    height: 100%;

    text-align: end;

    background-color: transparent;
    border: transparent;
    color: white;

    font-size: 12pt;

    margin-right: 20px;
    
}
.token-io-box-input-output-field:focus {
    outline: transparent;
}