.content-area {
    width: 100%;
    min-width: 600px;
    height: 20%;
    min-height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.content-box {
    background-color: #1a1a1a;

    border: transparent;
    border-radius: 20px;
    outline: white;
    outline-width: 1px;
    outline-style: double;

    width: 99%;
    height: 80%;
}
.content-header {
    width: 100%;
    height: 40%;
    margin: auto;

    font-size: 25pt;
    color: white;
    padding-left: 16px;

    display: flex;
    align-items: center;
    justify-content: left;

}
.content-body {
    width: 100%;
    height: 60%;
    margin: auto;

    font-size: 25pt;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.lwd-box {
    display: block;

    margin-left: 2%;
    margin-right: 2%;
}

.lwd-header {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-size: 15pt;
}

.lwd-body {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 15pt;
}