.sidebar-panel {
    width: 3in;
    min-width: 3in;
    max-width: 3in;
    height: 100vh;

    color: #f5f5f5;

    display: block;
}

.title {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-panel {
    width:100%;
    height: 40%;

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wallet-connect {
    width: 100%;
    height: 30%;

    display: block;
    justify-content: center;
    align-items: center;
}

.media-links-panel {
    width: 100%;
    height: 10%;

    display: block;
    justify-content: center;
    align-items: center;
}

.panel-button {
    background-color: #1a1a1a;
    text-decoration: none;

    border: none;
    border-radius: 4px;
    outline: white;
    outline-width: 1px;
    outline-style: double;
    font-size: 18px;
    width: 80%;
    height: 0.4in;

    display: inline-block;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 2.5%;
}
.panel-button a {
    text-decoration: none;
    color: white;
}
.panel-button:hover {
    outline: violet;  
    outline-width: 1px;
    outline-style: solid;

    transition: 0.5s;
}