.sidebar-panel {
    width: 3in;
    min-width: 3in;
    max-width: 3in;
    height: 100vh;

    color: #f5f5f5;

    display: block;
}

.title {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15pt;
}

.buttons-panel {
    width:100%;
    height: 40%;

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wallet-connect-area {
    width: 100%;
    height: 30%;

    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.media-links-panel {
    width: 100%;
    height: 10%;

    display: block;
    justify-content: center;
    align-items: center;
}

.panel-button {
    background-color: #1a1a1a;
    text-decoration: none;

    border: none;
    border-radius: 4px;
    outline: white;
    outline-width: 1px;
    outline-style: double;
    font-size: 18px;
    width: 80%;
    height: 0.4in;

    display: inline-block;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 2.5%;
}
.panel-button a {
    text-decoration: none;
    color: white;
}
.panel-button:hover a {
    color: #1a1a1a;
    font-weight: bold;
    transition: 0.5s;
}
.panel-button:hover {
    background-color: white;
    transition: 0.5s;
}


.wallet-connect-button-area {
    width: 100%;
    height: 80%;

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wallet-connect-button {
    background-color: #1a1a1a;

    border: transparent;
    border-radius: 160px;
    outline: white;
    outline-width: 1px;
    outline-style: double;

    font-size: 80px;
    color: white;

    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    width: 160px;
    height: 160px;
}

.wallet-connect-button:hover {
    background-color: white;
    color: #1a1a1a;
    transition: 0.5s;
    cursor: pointer;
}
.wallet-connect-text {
    white-space: wrap;
    overflow: hidden;  
    text-overflow: ellipsis;

    width: 3in;
}
